In [1]:
l = [1,2,3,3,]

In [2]:
type.(l)

SyntaxError: invalid syntax (1086628204.py, line 1)

In [3]:
print(l)

[1, 2, 3, 3]

In [4]:
for i in 1

SyntaxError: expected ':' (1775075003.py, line 1)

In [6]:
for i in 1 :

SyntaxError: incomplete input (3775709523.py, line 1)

In [7]:
for i in 1 :

SyntaxError: incomplete input (3775709523.py, line 1)

In [8]:
l = [1,2,3,3,]

In [9]:
for i in l :
     print (i, type(i))

1 <class 'int'>
2 <class 'int'>
3 <class 'int'>
3 <class 'int'>

In [10]:
for i in l :
     print (i)

1
2
3
3

In [11]:
l1 = ["sudh", "kumar", "krish",]

In [12]:
print(l1)

['sudh', 'kumar', 'krish']

In [13]:
for i in l1 :
    print(i)

sudh
kumar
krish

In [14]:
for i in l1 :
    print(i,type(i))

sudh <class 'str'>
kumar <class 'str'>
krish <class 'str'>

In [15]:
for i in l1 :
    print(i)
    else :
        print("do somthing")

SyntaxError: invalid syntax (212364234.py, line 3)

In [16]:
for i in l1 :
    print(i)
else :
        print("do somthing")

sudh
kumar
krish
do somthing

In [17]:
for i in l1 :
    print(i)
    else :
        print("of for loop is able to complet itself then only else will execute")

SyntaxError: invalid syntax (2189481223.py, line 3)

In [18]:
for i in l1 :
    print(i)
else :
        print("of for loop is able to complet itself then only else will execute")

sudh
kumar
krish
of for loop is able to complet itself then only else will execute

In [19]:
for i in  l1 : 
    print(i)

sudh
kumar
krish

In [20]:
l2 = ["anuj", 123,5+2j]

In [21]:
print(l2)

['anuj', 123, (5+2j)]

In [22]:
l1

['sudh', 'kumar', 'krish']

In [23]:
for i in l1:
    if i == "kumar":
        break
    print(i)

sudh

In [1]:
d = {}

In [2]:
type(d)

dict

In [3]:
d1 = {"key ": "anuj"}

In [4]:
d1

{'key ': 'anuj'}

In [6]:
d2 = {"name" : "anuj" , "email" : "anujnayak2k11@gmail.com", "number" : 12345}

In [7]:
d2

{'name': 'anuj', 'email': 'anujnayak2k11@gmail.com', 'number': 12345}

In [1]:
if marks <= 80:
    print ("you will bw part og a batch")

NameError: name 'marks' is not defined

In [1]:
if marks <= 80:
    print ("you will bw part of A batch")
elif marks >= 60 and marks < 80 :
    print("you will be part of A1 batch")

NameError: name 'marks' is not defined

In [2]:
marks = 65
if marks <= 80:
    print ("you will bw part of A batch")
elif marks >= 60 and marks < 80 :
    print("you will be part of A1 batch")

you will bw part of A batch

In [3]:
10 >= 80

False

In [ ]:
marks = input ("ebter your marks")
if marks <= 80:
    print ("you will bw part of A batch")
elif marks >= 60 and marks < 80 :
    print("you will be part of A1 batch")

In [ ]:
marks = 65
if marks <= 80:
    print ("you will bw part of A batch")
elif marks >= 60 and marks < 80 :
    print("you will be part of A1 batch")

In [ ]:
marks = 65
if marks <= 80:
    print ("you will bw part of A batch")
elif marks >= 60 and marks < 80 :
    print("you will be part of A1 batch")

In [ ]:
type(marks)

In [1]:
marks = 65
if marks <= 80:
    print ("you will bw part of A batch")
elif marks >= 60 and marks < 80 :
    print("you will be part of A1 batch")

you will bw part of A batch

In [3]:
marks = int(input("enter your marks"))
if marks <= 80:
    print ("you will bw part of A batch")
elif marks >= 60 and marks < 80 :
    print("you will be part of A1 batch")

enter your marks

ValueError: invalid literal for int() with base 10: ''

In [5]:
marks = int(input("enter your marks"))
if marks <= 80:
    print ("you will bw part of A batch")
elif marks >= 60 and marks < 80 :
    print("you will be part of A1 batch")

enter your marks 25

you will bw part of A batch

In [7]:
l[0]

1

In [8]:
l[0]+1

2

NameError: name 'l1' is not defined

In [10]:
for i in l :
    print(l)

[1, 2, 3, 3, 4, 5, 6, 7, 8]
[1, 2, 3, 3, 4, 5, 6, 7, 8]
[1, 2, 3, 3, 4, 5, 6, 7, 8]
[1, 2, 3, 3, 4, 5, 6, 7, 8]
[1, 2, 3, 3, 4, 5, 6, 7, 8]
[1, 2, 3, 3, 4, 5, 6, 7, 8]
[1, 2, 3, 3, 4, 5, 6, 7, 8]
[1, 2, 3, 3, 4, 5, 6, 7, 8]
[1, 2, 3, 3, 4, 5, 6, 7, 8]

In [11]:
marks = int(input("enter your marks"))
if marks <= 80:
    print ("you will bw part of A batch")
elif marks >= 60 and marks < 80 :
    print("you will be part of A1 batch")

enter your marks 5

you will bw part of A batch

In [12]:
for in l :
    print (i)

SyntaxError: invalid syntax (3325658251.py, line 1)

In [14]:
for i in l :
    print (i+1)

2
3
4
4
5
6
7
8
9

In [15]:
l = ["anuj", "nayak"]

In [17]:
l1=[]
for i in l :
    print(i)
    l1.append(i.upper())

anuj
nayak

l1

In [18]:
l1

['ANUJ', 'NAYAK']

In [2]:
l2 =["anuj", 2 , 3 ,"nayak"]

In [3]:
print(l2)

['anuj', 2, 3, 'nayak']

In [5]:
l3[]
for i in l2:
    print(i)
     l3.append(i.upper())

SyntaxError: invalid syntax (932699887.py, line 1)

In [1]:
l = [1,2,3,4,4,"sudh", "kumar", 324, 34.456, "abc"]

In [4]:
l1_num = []
l2_str = []
for i in l :
    if type(i) == int or type(i) == float :
        l1_num.append(i)
    else :
        l2_str.append(i)

In [5]:
l1_num

[1, 2, 3, 4, 4, 324, 34.456]

In [6]:
l2_str

['sudh', 'kumar', 'abc']